<h1>Login</h1>
<div class="login-form">
<%= form_tag '/login' do %>
	<span class="form">Email: <%= text_field_tag :email %></span>
	<span class="form">Password: <%= password_field_tag :password %></span>
	<span class="form"><%= submit_tag "Submit" %></span>
<% end %>
</div>